.git
.github
.gitignore
.DS_Store

*.log
logs
deploy/logs
deploy/updates
data
tmp
_tmp

node_modules
web/node_modules
web/.cache
web/.vite

.env
.env.local
deploy/.env
configs/config.yaml
configs/*.local.yaml
